server {
    listen ${PORT};
    root  /opt/app;

    location / {
        try_files $uri $uri/ /index.html;
    }

    location /query {
        proxy_pass ${API_SERVER_ADDR};
    }
    location /images/ {
        proxy_pass ${IMAGES_ADDR};
    }
}
